body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fallback color */
  }
  
  .home-container {
    height: 100vh; /* Full viewport height */
    background-image: url('./squid.jpg'); /* Relative path to the image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Makes the text white for contrast */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a subtle shadow to the text */
    
}


.ritik {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #e31b6d; /* Matches the text color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow around the image */
  }

  .h1font{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }